Repository myideascope/HalluciFix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-developers, @frontend-team, @backend-team, @database-team, @security-team, @devops-team, @qa-team, @documentation-team

.github/CODEOWNERS:

# Global code owners for the HalluciFix repository
# These users/teams will be automatically requested for review when PRs are opened

# Global owners - require review for all changes
* @core-developers

# Frontend components and UI
/src/components/ @frontend-team @core-developers
/src/hooks/ @frontend-team @core-developers
/src/types/ @frontend-team @core-developers

# Backend services and API
/src/lib/ @backend-team @core-developers
/supabase/ @backend-team @database-team @core-developers

# Security-sensitive files
/src/lib/auth/ @security-team @core-developers
/src/lib/oauth/ @security-team @core-developers
/src/lib/security/ @security-team @core-developers
/.github/ @devops-team @security-team @core-developers

# Configuration files
/.env* @devops-team @security-team @core-developers
/package.json @devops-team @core-developers
/package-lock.json @devops-team @core-developers
/vite.config.ts @devops-team @core-developers
/tsconfig*.json @devops-team @core-developers

# Database migrations and functions
/supabase/migrations/ @database-team @backend-team @core-developers
/supabase/functions/ @backend-team @core-developers

# Testing configuration
/vitest*.config.ts @qa-team @core-developers
/playwright*.config.ts @qa-team @core-developers
/e2e/ @qa-team @core-developers

# Documentation
/docs/ @documentation-team @core-developers
/README.md @documentation-team @core-developers

# CI/CD and GitHub Actions
/.github/workflows/ @devops-team @security-team @core-developers
/.github/actions/ @devops-team @security-team @core-developers

# Kiro specifications
/.kiro/ @core-developers

# Scripts and automation
/scripts/ @devops-team @core-developers

feat(infrastructure): Implement comprehensive AWS CDK infrastructure deployment framework
  infrastructure/bin/infrastructure.d.ts
  infrastructure/bin/infrastructure.js
  infrastructure/cdk.out/.cache/7fa1e366ee8a9ded01fc355f704cff92bfd179574e6f9cfee800a3541df1b200.zip
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/Hallucifix-Database-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Database-dev.template.json
  infrastructure/cdk.out/Hallucifix-Network-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Network-dev.template.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.template.json
  infrastructure/cdk.out/asset.571100b5addac7ae527f4b02bc2e00a8f669a582b48ffc6c5e97083ab2148cb0/nodejs/package.json
  infrastructure/cdk.out/asset.7fa1e366ee8a9ded01fc355f704cff92bfd179574e6f9cfee800a3541df1b200/__entrypoint__.js
  infrastructure/cdk.out/asset.7fa1e366ee8a9ded01fc355f704cff92bfd179574e6f9cfee800a3541df1b200/index.js
  infrastructure/cdk.out/cdk.out
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  infrastructure/lambda-functions/batch-aggregation/index.js
  infrastructure/lambda-functions/batch-error-handler/index.js
  infrastructure/lambda-functions/batch-preparation/index.js
  infrastructure/lambda-functions/batch-processor/index.js
  infrastructure/lambda-functions/billing-api/index.js
  infrastructure/lambda-functions/document-analysis/index.js
  infrastructure/lambda-functions/monitoring-agent/index.js
  infrastructure/lambda-functions/monitoring-agent/test-cache-monitoring.js
  infrastructure/lambda-functions/payment-methods-api/index.js
  infrastructure/lambda-functions/scan-executor/index.js
  infrastructure/lambda-functions/stripe-webhook/index.js
  infrastructure/lib/compute-stack.d.ts
  infrastructure/lib/compute-stack.js
  infrastructure/lib/database-stack.d.ts
  infrastructure/lib/database-stack.js
  infrastructure/lib/network-stack.d.ts
  infrastructure/lib/network-stack.js
  infrastructure/lib/storage-stack.d.ts
  infrastructure/lib/storage-stack.js
  infrastructure/test/hallucifix-stacks.test.d.ts
  infrastructure/test/hallucifix-stacks.test.js
Owners: @core-developers

docs(migration): Update AWS infrastructure migration task tracking
  .kiro/specs/aws-infrastructure-migration/tasks.md
Owners: @core-developers

feat(authentication): Implement comprehensive AWS Cognito authentication migration
  .env.example
  docs/COGNITO_MIGRATION.md
  package.json
  scripts/migrate-users-to-cognito.js
  scripts/validate-user-migration.js
  src/components/auth/CognitoAuthForm.tsx
  src/hooks/useAuth.ts
  src/lib/aws-config.ts
  src/lib/cognitoAuth.ts
  src/pages/AuthCallback.tsx
  src/test/setup-cognito-auth.ts
  vitest.cognito-auth.config.ts
Owners: @devops-team, @security-team, @core-developers, @documentation-team, @frontend-team, @backend-team, @qa-team

feat(user-migration): Implement comprehensive Cognito user mapping and synchronization
  .kiro/specs/aws-infrastructure-migration/tasks.md
  package.json
  scripts/map-cognito-users-to-rds.js
  scripts/migrate-users-to-cognito.js
  scripts/orchestrate-user-migration.js
  scripts/sync-user-data-to-rds.js
Owners: @core-developers, @devops-team

feat(user-migration): Implement comprehensive user migration orchestration script
  docs/COGNITO_MIGRATION.md
  package.json
  scripts/orchestrate-user-migration.js
  scripts/validate-complete-migration.js
Owners: @documentation-team, @core-developers, @devops-team

feat(migration): Implement comprehensive migration validation script
  .kiro/specs/aws-infrastructure-migration/tasks.md
  package.json
  scripts/validate-complete-migration.js
Owners: @core-developers, @devops-team

feat(user-migration): Refactor and update user migration scripts
  .kiro/specs/aws-infrastructure-migration/tasks.md
  scripts/migrate-users-to-cognito.cjs
  scripts/orchestrate-user-migration.cjs
  scripts/sync-user-data-to-rds.cjs
  scripts/validate-user-migration.cjs
Owners: @core-developers, @devops-team

feat(infrastructure): Implement comprehensive TypeScript compilation error resolution strategy
  .kiro/specs/infrastructure-typescript-fixes/design.md
  .kiro/specs/infrastructure-typescript-fixes/requirements.md
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  docs/COGNITO_MIGRATION_WALKTHROUGH.md
  infrastructure/bin/infrastructure-minimal.ts
  infrastructure/bin/infrastructure.js
  infrastructure/lib/compute-stack.d.ts
  infrastructure/lib/compute-stack.js
  infrastructure/lib/compute-stack.ts
  infrastructure/lib/database-stack.d.ts
  infrastructure/lib/database-stack.js
  infrastructure/lib/performance-testing-stack.ts
  infrastructure/lib/storage-stack.js
  infrastructure/package-lock.json
  infrastructure/package.json
  infrastructure/tsconfig.minimal.json
  scripts/fix-aws-credentials.sh
  src/lib/logging/structuredLogger.d.ts
  src/lib/logging/structuredLogger.js
Owners: @core-developers, @documentation-team, @devops-team, @backend-team

feat(infrastructure): Implement comprehensive TypeScript error analysis system
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  infrastructure/package.json
  infrastructure/scripts/ERROR_ANALYSIS_README.md
  infrastructure/scripts/error-analysis.ts
  infrastructure/scripts/run-error-analysis.sh
Owners: @core-developers

feat(infrastructure): Implement comprehensive ElastiCache monitoring Lambda function
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lambda-functions/cache-monitoring/index.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lambda-functions/common/logger.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lambda-functions/file-processor/index.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/alerting-notification-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/auto-scaling-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/bedrock-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/cache-monitoring-alarms-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/cache-monitoring-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/cognito-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/compliance-monitoring-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/comprehensive-monitoring-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/compute-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/cost-monitoring-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/database-performance-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/database-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/encryption-key-management-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/lambda-monitoring-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/network-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/performance-testing-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/security-audit-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/sqs-batch-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/step-functions-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/storage-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/lib/waf-security-stack.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/scripts/error-analysis.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/scripts/migrate-database.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/scripts/migrate-files-to-s3.ts
  infrastructure/.backup/backup-2025-10-31T19-53-04-625Z/scripts/setup-rds-proxy.ts
  infrastructure/.error-reports/backup-info-2025-10-31T19-53-04-625Z.json
  infrastructure/.error-reports/error-report-2025-10-31T19-53-09-925Z.json
  infrastructure/.error-reports/error-summary-2025-10-31T19-53-09-925Z.md
Owners: @core-developers

fix(infrastructure): Resolve critical TypeScript compilation errors in AWS CDK stacks
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  infrastructure/compilation-errors.txt
  infrastructure/lib/alerting-notification-stack.ts
  infrastructure/lib/auto-scaling-stack.ts
  infrastructure/lib/cache-monitoring-alarms-stack.ts
  infrastructure/lib/cache-monitoring-stack.ts
  infrastructure/lib/compliance-monitoring-stack.ts
  infrastructure/lib/comprehensive-monitoring-stack.ts
  infrastructure/lib/cost-monitoring-stack.ts
  infrastructure/lib/database-performance-stack.ts
Owners: @core-developers

fix(infrastructure): Resolve TypeScript compilation errors in AWS CDK stacks
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  infrastructure/lib/encryption-key-management-stack.ts
  infrastructure/lib/lambda-monitoring-stack.ts
  infrastructure/lib/performance-testing-stack.ts
  infrastructure/lib/security-audit-stack.ts
  infrastructure/lib/sqs-batch-stack.ts
  infrastructure/lib/step-functions-stack.ts
  infrastructure/lib/waf-security-stack.ts
Owners: @core-developers

fix(infrastructure): Resolve TypeScript type annotation and AWS SDK v3 integration errors
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  infrastructure/scripts/migrate-database.ts
  infrastructure/scripts/setup-rds-proxy.ts
Owners: @core-developers

feat(infrastructure): Implement comprehensive ElastiCache monitoring and service module
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  infrastructure/lambda-functions/common/elastiCacheService.ts
  infrastructure/lambda-functions/common/logger.ts
  infrastructure/package-lock.json
  infrastructure/package.json
Owners: @core-developers

fix(logging): Implement cross-environment compatibility for StructuredLogger
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  src/lib/logging/__tests__/structuredLogger.test.ts
  src/lib/logging/structuredLogger.ts
Owners: @core-developers, @backend-team

feat(infrastructure): Complete comprehensive TypeScript compilation error resolution
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
  compilation-report.txt
  infrastructure/README.md
  infrastructure/docs/compilation-troubleshooting-guide.md
  infrastructure/docs/typescript-fixes-documentation.md
  infrastructure/scripts/cdk-synthesis-report.md
  infrastructure/scripts/compilation-report.md
  infrastructure/scripts/functionality-preservation-report.md
  infrastructure/scripts/incremental-validation.ts
Owners: @core-developers

task complete
  .kiro/specs/infrastructure-typescript-fixes/tasks.md
Owners: @core-developers

updated requirements
  infrastructure/lib/compute-stack.js
Owners: @core-developers

chore(gitignore):ignore infra reports and errors
  .gitignore
Owners: @core-developers

Fix main project build process
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/Hallucifix-Database-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Database-dev.template.json
  infrastructure/cdk.out/Hallucifix-Network-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Network-dev.template.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.template.json
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  infrastructure/lambda-functions/common/logger.ts
  infrastructure/lambda-functions/file-processor/index.ts
  infrastructure/lambda-functions/file-processor/package-lock.json
  infrastructure/lib/compliance-monitoring-stack.ts
  infrastructure/lib/comprehensive-monitoring-stack.ts
  infrastructure/lib/compute-stack.js
  infrastructure/lib/compute-stack.ts
  infrastructure/lib/cost-monitoring-stack.ts
  infrastructure/lib/database-performance-stack.ts
  infrastructure/lib/lambda-monitoring-stack.ts
  infrastructure/lib/sqs-batch-stack.ts
  infrastructure/lib/step-functions-stack.ts
  infrastructure/lib/waf-security-stack.ts
  infrastructure/package-lock.json
  infrastructure/package.json
  package-lock.json
  package.json
  src/hooks/useCognitoAuth.ts
  src/lib/aws-config.ts
  src/lib/cognito-auth-old.ts
  src/lib/cognito-auth.ts
  src/lib/cognitoAuth.ts
  src/lib/migrationCutoverService.ts
  src/lib/migrationValidationService.ts
  src/lib/providers/bedrock/BedrockProvider.ts
Owners: @core-developers, @devops-team, @frontend-team, @backend-team

Fix PostgreSQL import issues for browser compatibility
  src/lib/database.ts
  src/lib/database/postgresService.ts
Owners: @backend-team, @core-developers

chore(deploy):infrastructure deploy files
  config-report.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/Hallucifix-Database-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Database-dev.template.json
  infrastructure/cdk.out/Hallucifix-Network-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Network-dev.template.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.template.json
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  package-lock.json
  package.json
Owners: @core-developers, @devops-team

fix(infrastructure): resolve build process issues
  infrastructure/README.md
  infrastructure/bin/infrastructure.d.ts
  infrastructure/bin/infrastructure.js
  infrastructure/jest.config.js
  infrastructure/lambda-functions/batch-aggregation/index.js
  infrastructure/lambda-functions/batch-error-handler/index.js
  infrastructure/lambda-functions/batch-preparation/index.js
  infrastructure/lambda-functions/batch-processor/index.js
  infrastructure/lambda-functions/billing-api/index.js
  infrastructure/lambda-functions/document-analysis/index.js
  infrastructure/lambda-functions/monitoring-agent/index.js
  infrastructure/lambda-functions/monitoring-agent/test-cache-monitoring.js
  infrastructure/lambda-functions/payment-methods-api/index.js
  infrastructure/lambda-functions/scan-executor/index.js
  infrastructure/lambda-functions/stripe-webhook/index.js
  infrastructure/lib/compute-stack.d.ts
  infrastructure/lib/compute-stack.js
  infrastructure/lib/database-stack.d.ts
  infrastructure/lib/database-stack.js
  infrastructure/lib/network-stack.d.ts
  infrastructure/lib/network-stack.js
  infrastructure/lib/sqs-batch-stack.ts
  infrastructure/lib/storage-stack.d.ts
  infrastructure/lib/storage-stack.js
  infrastructure/package.json
  infrastructure/scripts/fix-common-issues.sh
  infrastructure/scripts/verify-build.sh
  infrastructure/test/hallucifix-stacks.test.d.ts
  infrastructure/test/hallucifix-stacks.test.js
Owners: @core-developers

chore(infra):cognito config
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  infrastructure/package-lock.json
  infrastructure/package.json
  package.json
  scripts/migrate-users-to-cognito.cjs
Owners: @core-developers, @devops-team

Add AGENTS.md with comprehensive agent guidelines
  AGENTS.md
Owners: @core-developers

chore(infra):Deprecation of clientSecret
  bundle-analyzer.config.js
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  infrastructure/lib/compute-stack.ts
  package-lock.json
  package.json
Owners: @core-developers, @devops-team

feat(performance): implement comprehensive runtime optimizations
  .github/workflows/opencode.yml
  bundle-analyzer.config.js
  package-lock.json
  package.json
  public/sw.js
  scripts/analyze-css.js
  src/App.tsx
  src/components/CognitoApp.tsx
  src/components/PerformanceMonitor.tsx
  src/hooks/useMemoryManager.ts
  src/hooks/useNetworkOptimization.ts
  src/hooks/usePerformanceMonitor.ts
  src/hooks/useServiceWorker.ts
  src/lib/config.ts
  src/lib/elastiCacheService.ts
  src/lib/monitoring/BedrockMonitoringService.ts
  src/main.tsx
  vite.config.ts
Owners: @devops-team, @security-team, @core-developers, @frontend-team, @backend-team

feat: Complete HalluciFix development infrastructure setup
  README.md
  TEST_ANALYSIS_REPORT.md
  docker-compose.dev.yml
  docker-compose.yml
  docker/init.sql
  docker/kong.yml
  docker/prometheus.yml
  docs/DEPLOYMENT.md
  e2e/global-setup.ts
  e2e/tests/performance.spec.ts
  e2e/utils/performance-baselines.ts
  e2e/utils/performance.ts
  eslint.config.js
  playwright.config.ts
  playwright.cross-browser.config.ts
  playwright.load.config.ts
  playwright.performance.config.ts
  src/test/utils/testDatabase.ts
  vitest.config.ts
Owners: @documentation-team, @core-developers, @qa-team

feat: Complete staging environment deployment preparation
  .env.staging.backup.20251112_125127
  .env.staging.backup.20251112_132030
  eslint.config.js
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  infrastructure/deploy.sh
  infrastructure/empty.json
  infrastructure/lib/database-stack.ts
  scripts/deployment-checklist.sh
  scripts/update-env-from-infrastructure.sh
  src/components/AppWithCognito.tsx
  src/components/ConfigHotReloadNotification.tsx
  src/components/HybridAuthProvider.tsx
  src/components/forms/FormField.tsx
  src/hooks/useHybridAuth.ts
  src/lib/__tests__/errorManagerEnhanced.test.ts
  src/lib/__tests__/optimizedAnalysisServiceEnhanced.test.ts
  src/lib/config/demo.ts
  src/lib/monitoredSupabase.ts
  src/lib/providers/ProviderManager.ts
  src/lib/providers/ai/OpenAIProvider.ts
  src/lib/providers/bedrock/BedrockProvider.ts
  src/lib/queryBuilder.ts
Owners: @devops-team, @security-team, @core-developers, @frontend-team, @backend-team

Complete staging deployment: update env vars, fix log group conflicts, deploy infrastructure
  .env.staging
  infrastructure/lib/compute-stack.ts
Owners: @devops-team, @security-team, @core-developers

Update .env.production with complete configuration structure for production deployment
  .env.production
Owners: @devops-team, @security-team, @core-developers

Reduce NAT gateways in production to 1 to avoid EIP limit
  infrastructure/lib/network-stack.ts
Owners: @core-developers

Complete production deployment: update env vars with AWS infrastructure outputs
  .env.production
Owners: @devops-team, @security-team, @core-developers

Update .env.production with correct production infrastructure values
  .env.production
Owners: @devops-team, @security-team, @core-developers

Update production env with Cognito domain URL
  .env.production
Owners: @devops-team, @security-team, @core-developers

Update production env with Google OAuth client ID
  .env.production
Owners: @devops-team, @security-team, @core-developers

Fix build issues: optimize Vite config with manual chunks
  vite.config.ts
Owners: @devops-team, @core-developers

Fix S3 Bucket-Level Encryption Issues Causing Deployment Problems
  S3_ENCRYPTION_FIX_SUMMARY.md
  infrastructure/cdk.out/.cache/7fa1e366ee8a9ded01fc355f704cff92bfd179574e6f9cfee800a3541df1b200.zip
  infrastructure/cdk.out/Hallucifix-Cognito-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Cognito-dev.template.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Compute-dev.template.json
  infrastructure/cdk.out/Hallucifix-Database-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Database-dev.template.json
  infrastructure/cdk.out/Hallucifix-Network-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Network-dev.template.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.assets.json
  infrastructure/cdk.out/Hallucifix-Storage-dev.template.json
  infrastructure/cdk.out/asset.571100b5addac7ae527f4b02bc2e00a8f669a582b48ffc6c5e97083ab2148cb0/nodejs/package.json
  infrastructure/cdk.out/asset.7fa1e366ee8a9ded01fc355f704cff92bfd179574e6f9cfee800a3541df1b200/__entrypoint__.js
  infrastructure/cdk.out/asset.7fa1e366ee8a9ded01fc355f704cff92bfd179574e6f9cfee800a3541df1b200/index.js
  infrastructure/cdk.out/cdk.out
  infrastructure/cdk.out/manifest.json
  infrastructure/cdk.out/tree.json
  infrastructure/lib/encryption-key-management-stack.ts
  infrastructure/lib/storage-stack.ts
  infrastructure/scripts/migrate-files-to-s3.ts
  src/lib/storage/s3Service.ts
Owners: @core-developers, @backend-team

Fix Comprehensive Test Suite Issues and Resolve S3 Bucket-Level Encryption Problems
  BUILD_VERIFICATION_REPORT.md
  PHASE_1_COMPLETION_SUMMARY.md
  PHASE_2_COMPLETION_SUMMARY.md
  PHASE_2_START.md
  PHASE_3_COMPLETION_SUMMARY.md
  PHASE_3_FINAL_COMPLETION.md
  PHASE_3_START.md
  PHASE_4_COMPLETION.md
  PHASE_4_START.md
  TEST_FAILURES.md
  TEST_FAILURES_TODO.md
  src/lib/__tests__/cacheService.test.ts
  src/lib/__tests__/errorManagerEnhanced.test.ts
  src/lib/__tests__/googleDrive.test.ts
  src/lib/__tests__/optimizedAnalysisServiceEnhanced.test.ts
  src/lib/__tests__/recoveryStrategy.test.ts
  test_results.txt
Owners: @core-developers, @backend-team

🔧 Fix Comprehensive TypeScript Compilation Errors and Resolve Linting Issues
  IMMEDIATE_LINTING_ACTION_PLAN.md
  LINTING_ACTION_PLAN.md
  LINTING_RESOLUTION_PLAN.md
  LINTING_RESOLUTION_PROGRESS.md
  LINTING_RESOLUTION_REPORT.md
  src/lib/__tests__/cacheService.test.ts
  src/lib/__tests__/errorManagerEnhanced.test.ts
  src/lib/__tests__/recoveryStrategy.test.ts
  src/lib/errors/errorGrouping.ts
  src/lib/optimizedAnalysisService.ts
  src/lib/queryBuilder.ts
Owners: @core-developers, @backend-team
