Repository myideascope/HalluciFix, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-developers, @frontend-team, @backend-team, @database-team, @security-team, @devops-team, @qa-team, @documentation-team

.github/CODEOWNERS:

# Global code owners for the HalluciFix repository
# These users/teams will be automatically requested for review when PRs are opened

# Global owners - require review for all changes
* @core-developers

# Frontend components and UI
/src/components/ @frontend-team @core-developers
/src/hooks/ @frontend-team @core-developers
/src/types/ @frontend-team @core-developers

# Backend services and API
/src/lib/ @backend-team @core-developers
/supabase/ @backend-team @database-team @core-developers

# Security-sensitive files
/src/lib/auth/ @security-team @core-developers
/src/lib/oauth/ @security-team @core-developers
/src/lib/security/ @security-team @core-developers
/.github/ @devops-team @security-team @core-developers

# Configuration files
/.env* @devops-team @security-team @core-developers
/package.json @devops-team @core-developers
/package-lock.json @devops-team @core-developers
/vite.config.ts @devops-team @core-developers
/tsconfig*.json @devops-team @core-developers

# Database migrations and functions
/supabase/migrations/ @database-team @backend-team @core-developers
/supabase/functions/ @backend-team @core-developers

# Testing configuration
/vitest*.config.ts @qa-team @core-developers
/playwright*.config.ts @qa-team @core-developers
/e2e/ @qa-team @core-developers

# Documentation
/docs/ @documentation-team @core-developers
/README.md @documentation-team @core-developers

# CI/CD and GitHub Actions
/.github/workflows/ @devops-team @security-team @core-developers
/.github/actions/ @devops-team @security-team @core-developers

# Kiro specifications
/.kiro/ @core-developers

# Scripts and automation
/scripts/ @devops-team @core-developers

🎉 SUPABASE TO AWS MIGRATION - 100% COMPLETE 🚀
  .env.example
  DATABASE_MIGRATION_VERIFICATION_REPORT.md
  MIGRATION_100_PERCENT_COMPLETE.md
  SUPABASE_TO_AWS_MIGRATION_COMPLETE.md
  docs/AWS_MIGRATION_GUIDE.md
  infrastructure/cdk.context.json
  infrastructure/scripts/rds-manager.ts
  infrastructure/scripts/s3-manager.ts
  infrastructure/scripts/verify-database-migration.ts
  package.json
  src/App.tsx
  src/lib/__tests__/cacheService.test.ts.backup
  src/lib/__tests__/optimizedAnalysisServiceEnhanced.test.ts.backup
  src/lib/awsClient.ts
  src/lib/config.ts
Owners: @devops-team, @security-team, @core-developers, @documentation-team, @backend-team

chore(infra) refactor supabase
  .env.production.aws
  COMPREHENSIVE_WARNING_RESOLUTION_PLAN.md
  WARNING_RESOLUTION_PLAN.md
  infrastructure/scripts/ERROR_ANALYSIS_README.md
  infrastructure/scripts/cdk-synthesis-report.md
  infrastructure/scripts/compilation-report.md
  infrastructure/scripts/deploy-all.sh
  infrastructure/scripts/deploy-cognito.sh
  infrastructure/scripts/deploy-lambda-functions.sh
  infrastructure/scripts/error-analysis.ts
  infrastructure/scripts/fix-common-issues.sh
  infrastructure/scripts/functionality-preservation-report.md
  infrastructure/scripts/incremental-validation.ts
  infrastructure/scripts/migrate-database.sh
  infrastructure/scripts/migrate-database.ts
  infrastructure/scripts/migrate-files-to-s3.ts
  infrastructure/scripts/rds-manager.ts
  infrastructure/scripts/run-error-analysis.sh
  infrastructure/scripts/s3-manager.ts
  infrastructure/scripts/setup-google-oauth.sh
  infrastructure/scripts/setup-rds-proxy.ts
  infrastructure/scripts/test-oauth-config.sh
  infrastructure/scripts/validate-deployment.sh
  infrastructure/scripts/verify-build.sh
  infrastructure/scripts/verify-database-migration.ts
  infrastructure/tsconfig.json
  src/App.tsx
Owners: @devops-team, @security-team, @core-developers

🎉 LINT RESOLUTION COMPLETE: 4,009 violations resolved! ✅
  LINTER_RESOLUTION_COMPLETE.md
  src/components/CheckoutFlow.tsx
Owners: @core-developers, @frontend-team

🔧 Phase 3 Progress: Advanced Code Cleanup - Continued
  src/components/AlertingIncidentDashboard.tsx
  src/components/ApiDocumentation.tsx
  src/lib/errors/recoveryStrategy.ts
Owners: @frontend-team, @core-developers, @backend-team

🔧 Fixed Remaining Lint Issues: Empty Patterns & Syntax Errors
  src/lib/performanceUtils.ts
Owners: @backend-team, @core-developers

🔧 Fixed Multiple Lint Issues: Empty Patterns & Unused Variables
  src/App.tsx
  src/components/Analytics.tsx
  src/components/AppWithCognito.tsx
Owners: @core-developers, @frontend-team

🔧 Targeted Lint Fixes: Unused Variables & Imports Cleanup
  src/components/BatchAnalysis.tsx
  src/components/BedrockMonitoringDashboard.tsx
  src/components/BusinessMetricsDashboard.tsx
Owners: @frontend-team, @core-developers

🔧 Cleaned Up Billing Dashboard: Removed Unused Imports & Variables
  src/components/BillingDashboard.tsx
Owners: @frontend-team, @core-developers

🔧 Fixed Infrastructure Scripts: Improved AWS Cleanup Functionality
  infrastructure/cleanup-dev-environments-fixed.sh
  infrastructure/setup-cleanup-fixed.sh
Owners: @core-developers

🔧 Replaced Console Statements with Structured Logging in Cognito Auth
  src/lib/cognitoAuth.ts
Owners: @backend-team, @core-developers

🔧 Replaced Console Statements with Structured Logging in AWS Config
  infrastructure/cleanup-dev-environments-simple.sh
  src/lib/aws-config.ts
Owners: @core-developers, @backend-team

🔧 Replaced Console Statements with Structured Logging in Data Archival Service
  src/lib/dataArchivalService.ts
Owners: @backend-team, @core-developers

🔧 Replaced Console Statements with Structured Logging in Performance Monitor
  src/lib/performanceMonitor.ts
Owners: @backend-team, @core-developers

🔧 Fixed Import Paths and Unused Variables in Key Components
  clean-unused-vars.py
  src/components/AuthForm.tsx
  src/components/BusinessMetricsDashboard.tsx
Owners: @core-developers, @frontend-team

🔧 Fixed Import Paths and Cleaned Unused Variables in CognitoApp
  fix-common-unused.py
  src/components/CognitoApp.tsx
Owners: @core-developers, @frontend-team

🔧 Fixed Empty Object Pattern Errors and Import Issues
  src/lib/performanceUtils.ts
  src/lib/providers/ai/AIProviderHealthChecker.ts
Owners: @backend-team, @core-developers

🔧 Fixed Additional Empty Object Pattern Errors and Import Issues
  src/hooks/useErrorNotifications.ts
  src/hooks/useStripeElements.ts
  src/lib/errors/sentryIntegration.ts
  src/lib/subscriptionService.ts
Owners: @frontend-team, @core-developers, @backend-team

🧹 Cleaned Up Fix-Logging Scripts and Enhanced Documentation
  clean-unused-vars.py
  docs/amazon/AWS_MIGRATION_GUIDE.md
  docs/amazon/COGNITO_AUTH_TESTING.md
  docs/amazon/COGNITO_MIGRATION.md
  docs/amazon/COGNITO_MIGRATION_WALKTHROUGH.md
  docs/amazon/NOTIFICATION_REPORTING_SYSTEM.md
  docs/amazon/OAUTH_SETUP_GUIDE.md
  docs/amazon/cognito-migration-guide.md
  docs/config/CONFIGURATION_EXAMPLES.md
  docs/config/CONFIGURATION_GUIDE.md
  docs/database/DATABASE_DOCUMENTATION_INDEX.md
  docs/database/DATABASE_MAINTENANCE_PROCEDURES.md
  docs/database/DATABASE_MIGRATION_GUIDE.md
  docs/database/DATABASE_OPTIMIZATION_GUIDE.md
  docs/database/DATABASE_TRAINING_MATERIALS.md
  docs/database/DATABASE_TROUBLESHOOTING_GUIDE.md
  docs/error/ERROR_HANDLING_BEST_PRACTICES.md
  docs/error/ERROR_HANDLING_TRAINING.md
  docs/error/ERROR_TROUBLESHOOTING_GUIDE.md
  docs/testing/BEDROCK_INTEGRATION_SUMMARY.md
  docs/testing/CROSS_BROWSER_TESTING.md
  docs/testing/S3_FILE_UPLOAD_GUIDE.md
  docs/testing/TESTING_GUIDE.md
  docs/testing/TESTING_STRATEGY.md
  docs/testing/TESTING_TROUBLESHOOTING.md
  docs/testing/WEBHOOK_DEPLOYMENT_CHECKLIST.md
  docs/testing/WEBHOOK_IMPLEMENTATION.md
  fix-common-unused.py
  fix-console-logging.py
  fix-console-logging.sh
  iam list-roles --profile hallucifix --query Roles[?contains(RoleName, `Lambda`) || contains(RoleName, `EC2`) || contains(RoleName, `RDS`)].RoleName --output table
  lambda-functions/migration/package.json
Owners: @core-developers, @documentation-team

🧹 Documentation Reorganization and Cleanup
  docs/AWS_MIGRATION_GUIDE.md
  docs/BEDROCK_INTEGRATION_SUMMARY.md
  docs/COGNITO_AUTH_TESTING.md
  docs/COGNITO_MIGRATION.md
  docs/COGNITO_MIGRATION_WALKTHROUGH.md
  docs/CONFIGURATION_EXAMPLES.md
  docs/CONFIGURATION_GUIDE.md
  docs/CROSS_BROWSER_TESTING.md
  docs/DATABASE_DOCUMENTATION_INDEX.md
  docs/DATABASE_MAINTENANCE_PROCEDURES.md
  docs/DATABASE_MIGRATION_GUIDE.md
  docs/DATABASE_OPTIMIZATION_GUIDE.md
  docs/DATABASE_TRAINING_MATERIALS.md
  docs/DATABASE_TROUBLESHOOTING_GUIDE.md
  docs/ERROR_HANDLING_BEST_PRACTICES.md
  docs/ERROR_HANDLING_TRAINING.md
  docs/ERROR_TROUBLESHOOTING_GUIDE.md
  docs/NOTIFICATION_REPORTING_SYSTEM.md
  docs/OAUTH_SETUP_GUIDE.md
  docs/S3_FILE_UPLOAD_GUIDE.md
  docs/TESTING_GUIDE.md
  docs/TESTING_STRATEGY.md
  docs/TESTING_TROUBLESHOOTING.md
  docs/amazon/WEBHOOK_DEPLOYMENT_CHECKLIST.md
  docs/amazon/WEBHOOK_IMPLEMENTATION.md
  docs/cicd/CI_CD_WORKFLOWS.md
  docs/cicd/DEPLOYMENT.md
  docs/cicd/ENHANCED_DEPLOYMENT_GUIDE.md
  docs/cicd/MIGRATION_MANUAL_STEPS.md
  docs/cicd/SSL_IMPLEMENTATION_GUIDE.md
  docs/cognito-migration-guide.md
  docs/task-3-completion-summary.md
Owners: @documentation-team, @core-developers

🔧 Fixed Multiple Empty Object Pattern Errors in Test Factories and Auth Services
  src/lib/auth/sessionRecoveryService.ts
  src/test/factories/analysisFactory.ts
Owners: @security-team, @core-developers

🔧 Fixed Empty Object Pattern Errors in Performance Monitor
  src/lib/performanceMonitor.ts
Owners: @backend-team, @core-developers

🔧 Fixed Empty Object Pattern Errors in Session Recovery Service
  src/lib/auth/sessionRecoveryService.ts
Owners: @security-team, @core-developers

🔧 Fixed Empty Object Pattern Errors in Cache Service
  src/lib/cacheService.ts
Owners: @backend-team, @core-developers

🔧 Fixed Empty Object Pattern Errors in Database Repository Services
  src/lib/database/optimizedAnalysisService.ts
  src/lib/database/repositories/analysisRepository.ts
  src/lib/database/repositories/scheduledScanRepository.ts
Owners: @backend-team, @core-developers

🔧 Fixed Remaining Empty Object Pattern Errors in Subscription Services
  src/lib/subscriptionAccessMiddleware.ts
  src/lib/subscriptionService.ts
Owners: @backend-team, @core-developers

🔧 Fixed Final Empty Object Pattern Errors in Middleware Services
  src/lib/subscriptionAccessMiddleware.ts
  src/lib/usageMiddleware.ts
Owners: @backend-team, @core-developers

🔧 Fixed Final Empty Object Pattern Errors in API and Webhook Services
  src/lib/apiMonitoring.ts
  src/lib/webhookConfig.ts
Owners: @backend-team, @core-developers

plan(lint):Multi-Agent Plan to resolve all linting errors.
  LINTER_RESOLUTION_COMPLETE.md
  LINTER_RESOLUTION_PLAN.md
  LINTING_RESOLUTION_PLAN.md
  LINTING_RESOLUTION_PLAN_CODE_QUALITY.md
  LINTING_RESOLUTION_PLAN_CRITICAL_SYNTAX.md
  LINTING_RESOLUTION_PLAN_IMPORT_DEPENDENCY.md
  LINTING_RESOLUTION_THREE_AGENT_PLAN.md
  PHASE_1_COMPLETION_SUMMARY.md
  PHASE_1_PROGRESS.md
  PHASE_2_COMPLETION_SUMMARY.md
  PHASE_2_START.md
  PHASE_3_COMPLETION_SUMMARY.md
  PHASE_3_FINAL_COMPLETION.md
  PHASE_3_START.md
  PHASE_4_COMPLETION.md
  PHASE_4_START.md
  src/lib/database/optimizedAnalysisService.ts
Owners: @core-developers, @backend-team

chore(repo):Cleanup
  BUILD_VERIFICATION_REPORT.md
  COMPREHENSIVE_WARNING_RESOLUTION_PLAN.md
  DATABASE_MIGRATION_VERIFICATION_REPORT.md
  IMMEDIATE_LINTING_ACTION_PLAN.md
  LINTING_ACTION_PLAN.md
  LINTING_RESOLUTION_PROGRESS.md
  LINTING_RESOLUTION_REPORT.md
  MIGRATION_100_PERCENT_COMPLETE.md
  S3_ENCRYPTION_FIX_SUMMARY.md
  SSL_IMPLEMENTATION_COMPLETE.md
  SUPABASE_TO_AWS_MIGRATION_COMPLETE.md
  TEST_FAILURES.md
  TEST_FAILURES_TODO.md
  WARNING_RESOLUTION_PLAN.md
  compilation-report.txt
Owners: @core-developers

Fix import and dependency linting issues
  LINTING_RESOLUTION_PLAN_CODE_QUALITY.md
  src/App.tsx
  src/components/AuthForm.tsx
  src/components/AuthSwitcher.tsx
  src/components/CheckoutSuccess.tsx
  src/components/CognitoApp.tsx
  src/components/Dashboard.tsx
  src/components/ErrorBoundaryWrapper.tsx
  src/components/FeatureErrorBoundary.tsx
  src/components/GlobalErrorBoundary.tsx
  src/components/GoogleDrivePicker.tsx
  src/components/MigrationValidation.tsx
  src/components/PaymentMethodList.tsx
  src/components/PaymentMethodManager.tsx
  src/components/ServiceDegradationStatus.tsx
Owners: @core-developers, @frontend-team

Fix production build errors with comprehensive syntax and import fixes
  src/MigrationApp.tsx
  src/components/ApiDocumentation.tsx
  src/components/BatchAnalysis.tsx
  src/components/HallucinationAnalyzer.tsx
  src/components/OAuthCallback.tsx
  src/components/SubscriptionNotifications.tsx
  src/contexts/ConfigurationContext.tsx
  src/contexts/ErrorBoundaryContext.tsx
  src/hooks/useAuth.ts
  src/lib/config/browser.ts
  src/lib/config/featureFlagConsole.ts
  src/lib/config/index.ts
  src/lib/config/integration.ts
  src/lib/config/keyManagement.ts
  src/lib/env.ts
  src/lib/errors/networkRecovery.ts
  src/lib/logging/advancedRetention.ts
  src/lib/logging/automatedAnalysis.ts
  src/lib/logging/logRetention.ts
  src/lib/oauth/healthCheck.ts
  src/lib/oauth/oauthConfig.ts
  src/lib/oauth/startupValidation.ts
  src/lib/providers/startup/ApplicationStartup.ts
  src/main.tsx
Owners: @core-developers, @frontend-team, @backend-team, @security-team

🎉 LINTING RESOLUTION - PHASE 3 COMPLETE: Code Quality & Production Readiness
  src/lib/billingNotificationService.ts
  src/lib/businessMetricsMonitor.ts
  src/lib/cacheService.ts
  src/lib/config/envFileManager.ts
  src/lib/config/integration.ts
  src/lib/databaseAnalyzer.ts
  src/lib/databaseBackupService.ts
Owners: @backend-team, @core-developers

📚 LINTING RESOLUTION - FINAL DOCUMENTATION & PROJECT STATUS
  LINTING_RESOLUTION_FINAL_SUMMARY.md
Owners: @core-developers

🚀 NEXT PHASE: Testing Infrastructure & Quality Assurance Implementation
  TESTING_INFRASTRUCTURE_IMPLEMENTATION_PLAN.md
Owners: @core-developers

suppress warnings for unused vars/
  TESTING_INFRASTRUCTURE_DISCOVERY_REPORT.md
  eslint.config.js
  src/components/__tests__/AuthForm.comprehensive.test.tsx
Owners: @core-developers, @frontend-team

removed the docker compose files and rebuild using aws dev config.
  docker-compose.dev.yml
  docker-compose.yml
Owners: @core-developers

🧪 TEST DIRECTORY CONSOLIDATION: Unified test structure & removed Supabase tests
  TEST_REFACTORING_SUMMARY.md
  package-lock.json
  playwright.cognito-auth.config.ts
  src/lib/__tests__/supabase.test.ts
  src/test/auth/cognito-auth.test.ts
  src/test/auth/useCognitoAuth.test.tsx
  src/test/e2e/cognito-auth-flow.spec.ts
  src/test/integration/supabase.integration.test.ts
  src/test/setup/cognito-auth-setup.ts
  src/test/setup/cognito-e2e-setup.ts
  src/test/setup/cognito-e2e-teardown.ts
  src/tests/integration/mfa-integration.test.ts
  src/tests/integration/oauth-integration.test.ts
Owners: @core-developers, @devops-team, @qa-team, @backend-team

Fix production build errors with comprehensive syntax and import fixes
  package-lock.json
  package.json
  src/components/ErrorBoundary.tsx
  src/components/GoogleDrivePicker.tsx
  src/components/SubscriptionNotifications.tsx
  src/components/auth/AuthenticationErrorBoundary.tsx
  src/hooks/useConfiguration.ts
  src/hooks/useUsageTracking.ts
  src/lib/auth/authErrorRecovery.ts
  src/lib/businessMetricsMonitor.ts
  src/lib/cacheService.ts
  src/lib/config/integration.ts
  src/lib/errors/errorManager.ts
  src/lib/errors/healthCheck.ts
  src/lib/errors/incidentManager.ts
  src/lib/errors/structuredLogger.ts
  src/lib/monitoring/dataDogIntegration.ts
  src/lib/monitoring/newRelicIntegration.ts
  src/lib/oauth/googleProvider.ts
  src/lib/oauth/profileService.ts
  src/lib/oauth/stateManager.ts
  src/lib/oauth/tokenCleanupService.ts
  src/lib/oauth/tokenRefreshService.ts
  src/lib/oauth/tokenStorage.ts
  src/lib/providers/ai/AnthropicErrorHandler.ts
  src/lib/providers/knowledge/academic.ts
  src/lib/providers/knowledge/news.ts
Owners: @devops-team, @core-developers, @frontend-team, @security-team, @backend-team

Consolidate test structure: Move unit tests from src/lib/__tests__ to centralized src/test/unit
  src/test/setup/cognito-auth-setup.ts
  src/test/setup/cognito-e2e-setup.ts
  src/test/setup/cognito-e2e-teardown.ts
  src/test/unit/analysisService.test.ts
  src/test/unit/api.test.ts
  src/test/unit/authErrorRecovery.test.ts
  src/test/unit/billingMonitor.test.ts
  src/test/unit/billingService.test.ts
  src/test/unit/cacheService.test.ts
  src/test/unit/cacheService.test.ts.backup
  src/test/unit/databaseOptimizationService.test.ts
  src/test/unit/errorManager.test.ts
  src/test/unit/errorManagerEnhanced.test.ts
  src/test/unit/googleDrive.test.ts
  src/test/unit/monitoringService.test.ts
  src/test/unit/networkRecovery.test.ts
  src/test/unit/oauthService.test.ts
  src/test/unit/optimizedAnalysisServiceEnhanced.test.ts
  src/test/unit/optimizedAnalysisServiceEnhanced.test.ts.backup
  src/test/unit/performanceMonitor.test.ts
  src/test/unit/recoveryStrategy.test.ts
  src/test/unit/recoveryStrategyEnhanced.test.ts
  src/test/utils/database-seeder.ts
  src/test/utils/database-utils.ts
  src/test/utils/testDatabase.ts
Owners: @core-developers

Complete Supabase replacement with AWS database service
  package-lock.json
  package.json
  src/contexts/ConfigurationContext.tsx
  src/lib/config/index.ts
  src/lib/config/types.ts
  src/lib/database.ts
  src/lib/databaseReplacement.ts
  src/lib/env.ts
  src/lib/env.ts.backup
  src/lib/supabase.ts
Owners: @devops-team, @core-developers, @backend-team
